* {
    margin: 0;
    padding: 0;
  }
  header {
    text-align: center;
  }
  body {
    width: 100%;
    height: 100vh;
  }
  .wrapper {
    background: rgb(180, 226, 253);
    max-width: 400px;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  }
  .wrapper header {
    font-size: 30px;
    font-weight: 600;
  }
  .wrapper .inputField {
    font-size: 18px;
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
  }
  .inputField input {
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
  }
  .inputField input:focus {
    border-color: #8e49e8;
  }
  .inputField button {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #8e49e8;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .inputField button:hover,
  .footer button:hover {
    background: #721ce3;
  }
  .inputField button.active {
    opacity: 1;
    pointer-events: auto;
  }
  button {
    width: 35%;
  }
  
  .wrapper .todoList {
    max-height: 250px;
    overflow-y: auto;
  }
  .todoList li {
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
  }
  .todoList li .icon {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    background: #e74c3c;
    width: 45px;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .todoList li:hover .icon {
    right: 0px;
  }
  .wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .footer button {
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    background: #8e49e8;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .footer button.active {
    opacity: 1;
    pointer-events: auto;
  }
  
  /* Heading */
  .big-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
  }
  /* Containers */
  .container-fluid {
    padding: 6% 8%;
  }
  
  /* Sections */
  .colored-section {
    background-color: #3c565b;
    color: #fff;
    text-align: center;
  }
  
  /* Navigation Bar */
  .navbar {
    padding-bottom: 0 0 4.5rem;
  }
  .navbar-logo {
    height: 80px;
    width: 80px;
    margin-right: 25px;
    border-radius: 20%;
  }
  .navbar-brand {
    font-style: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
  }
  .nav-item {
    padding: 0 18px;
  }
  .nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
  }
  .header-logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 20%;
  }
  /* Title Section  */
  #title .container-fluid {
    padding: 3% 8% 4%;
    text-align: left;
  }
  #features {
    background-color: #e1fcfd;
  }
  /* Footer Section */
  footer {
    background-color: #f7f7f7;
    text-align: center;
  }
  .social-icon {
    margin: 20px 10px;
  }
  @media (min-width: 350px) and (max-width: 586px) {
    #title .container-fluid {
      padding: 2% 4% 5%;
    }
    .navbar-logo {
      height: 50px;
      width: 50px;
    }
    .navbar-brand {
      font-size: 1.5rem;
    }
    .nav-link {
      font-size: 1rem;
    }
  }